<!DOCTYPE html>
<html>
<head>
  <title>Cart</title>
</head>
<body>

<h1>Your Cart</h1>

<% if (cartItems.length === 0) { %>
  <p>Cart is empty</p>
<% } else { %>

  <% cartItems.forEach(function(item){ %>

<div>

  <img 
    src="<%= item.productId?.image || 'https://via.placeholder.com/100' %>" 
    width="100">

  <h3><%= item.productId?.name || 'No Name' %></h3>

  <p>₹<%= item.productId?.price || 0 %></p>

   <!-- Quantity Controls -->
  <form action="/cart/update" method="POST" style="display:inline;">
    <input type="hidden" name="cartItemId" value="<%= item._id %>">
    <input type="hidden" name="action" value="decrease">
    <button type="submit">➖</button>
  </form>

  <span><%= item.quantity %></span>

  <form action="/cart/update" method="POST" style="display:inline;">
    <input type="hidden" name="cartItemId" value="<%= item._id %>">
    <input type="hidden" name="action" value="increase">
    <button type="submit">➕</button>
  </form>

</div>

  <% }) %>

<% } %>

</body>
</html>