<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Sub Category List</title>
<link rel="stylesheet" href="/sub-category/sub-category-page.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="dashboard">

<!-- SIDEBAR -->
<aside class="sidebar">
  <h2 class="logo">swapZon</h2>

  <ul class="menu">
    <li>Dashboard</li>
    <li><a href="/category">Categories</a></li>
    <li class="active"><a href="/sub-category">Sub Category</a></li>
    <li ><a href="/product">Products</a></li>
    <li>Customers</li>
  </ul>

</aside>


<!-- MAIN CONTENT -->
<main class="main">

<!-- TOPBAR -->
<div class="topbar">
  <input type="text" placeholder="Search Category">

  <a href="/sub-category/add-subcategory">
    <button class="add-btn">Add  Sub Category +</button>
  </a>

</div>
 

<!-- CARD -->
<div class="card">

<h3>All Sub Categories</h3>

<div class="table-container">

<table>

<thead>
<tr>
<th>Image</th>
<th>Name</th>
<th>Category</th>
<!-- <th>Category ID</th> -->
<th>Created</th>
<th>Updated</th>
<th>Actions</th>
</tr>
</thead>

<tbody>

<% if (subCategory && subCategory.length > 0) { %>

<% subCategory.forEach(category => { %>

<tr>

<td>
<img src="<%= category.image %>" width="45" height="45">
</td>

<td>
<%= category.name %>
</td>



<td>
<% for(let i=0;i<=category.category.length-1;i++){ %>
  <%= category.category[i].name %>
  <% } %>
</td>



<td>
<%= category.createdAt.toDateString() %>
</td>

<td>
<%= category.updatedAt.toDateString() %>
</td>

<td class="actions">
  <a href="/sub-category/edit/<%= category._id %>" class="btn edit-btn">
Edit
</a>
<form action="/sub-category/<%= category._id %>?_method=DELETE" method="POST">
<button type="submit" class="btn delete-btn">
Delete
</button>
</form>
</td>



</tr>

<% }) %>

<% } else { %>

<tr>
<td colspan="7" style="text-align:center;">No Categories Found</td>
</tr>

<% } %>

</tbody>
</table>

</div>

</div>

</main>

</div>

</body>
</html>