<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Category List</title>
  <link rel="stylesheet" href="/category-style/category-H.css">
</head>

<body>

<div class="dashboard">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <h2 class="logo">Esale</h2>

    <ul class="menu">
      <li>Dashboard</li>
      <li class="active">Categories</li>
      <li>Orders</li>
      <li>Customers</li>
    </ul>

 <form action="/admin/logout" method="post">
  <button type="submit" class="logout">Log Out</button>
</form>
  </aside>

  <!-- MAIN CONTENT -->
  <main class="main">

<div class="topbar">
  <input type="text" placeholder="Search Category">

  <a href="/category/add-category">
    <button class="add-btn">Add Category +</button>
  </a>

</div>

    <div class="card">
      <h3>All Categories</h3>

      <table>
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Category ID</th>
            <th>Created Date</th>
            <th>Updated Date</th>
          </tr>
        </thead>

        <tbody>

          <% if (categories && categories.length > 0) { %>

            <% categories.forEach(category => { %>

<tr>

<td>
  <img src="<%= category.image %>" width="50" height="50">
</td>

<td>
  <%= category.name %>
</td>

<td>
  <%= category._id %>
</td>

<td>
  <%= category.createdAt.toDateString() %>
</td>

<td>
  <%= category.updatedAt.toDateString() %>
</td>

<td class="actions">

  <!-- VIEW -->
  <!-- <a href="/category/<%= category._id %>" class="btn view-btn">
    View
  </a> -->

  <!-- EDIT -->
  <a href="/category/edit/<%= category._id %>" class="btn edit-btn">
    Edit
  </a>

  <!-- DELETE -->
  <form action="/category/<%= category._id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn delete-btn">
      Delete
    </button>
  </form>

</td>

</tr>

            <% }) %>

          <% } else { %>

            <tr>
              <td colspan="5" style="text-align:center;">
                No Categories Found
              </td>
            </tr>

          <% } %>

        </tbody>
      </table>

    </div>

  </main>

</div>

</body>
</html>